
ExceptionNotification
{
	position: absolute;
	top: 12px;
	left: 50%;
    transform: translateX(-50%);
	background-color: rgba(32,32,32,0.8);
    backdrop-filter: blur(16px);
  
	border: 2px #bf773b;
	color: white;
	font-size: 20px;
	font-family: "roboto";
	padding: 8px;
	border-radius: 4px;
	flex-direction: row;
	align-items: flex-end;
	pointer-events: none;
	transition: all 0.1s linear;
	gap: 8px;



	&.fresh
	{
		background-color: rgba(200,32,32,0.8);
		opacity: 1;
	}

	&.hidden
	{
		opacity: 0;
		transition: all 0.2s ease-in-out;
	}
}


.column
{
	flex-direction: column;
	font-size: 20px;
}

.column *:first-child
{
    color: #bf773b;
	font-size: 12px;
	font-family: roboto;
	font-weight: 6000;
	margin-bottom: 6px;
}