
AlternativeLoading
{

    .h1, .h2, .h3
    {
        color: #a9bdbd;
        font-family: Roboto Mono;
    	text-shadow: 3px 3px 1rem #242f2f;
    }

    .h1 { font-weight: 800; font-size: 5vh; letter-spacing: -2px; }
    .h2 { font-weight: 300; font-size: 3.5vh; letter-spacing: 5px; }
    .h3 { font-weight: 300; font-size: 3vh; letter-spacing: -4px; }

    .img { max-height: 150px; max-width: 150px; overflow: visible; }

    .engine { height: 25px; filter: drop-shadow(5 2 5rem #242f2f); }

    .loading-anim { height: 100%; animation: forwards; }

    .background
 	{
 		width: 100%;
 		height: 100%;
 		background-position: center;
 		background-size: cover;
 		opacity: 1;
    }

    .footer
    {
        bottom: 0;
        background-color: #232a2a;
        position: absolute;
        width: 100%;
        height: 2.5vh;
    }

    .bg.line
    {
        margin-bottom: 6vh;
        z-index: 20;
        bottom: 0;
        position: absolute;
        height: 11.5vh;
        width: 100%;
        background: linear-gradient( to right, transparent 0%, #212e2e7e 95% );
    }
}

AlternativeLoading
{
    position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1000;
	color: white;
    pointer-events: none;
    opacity: 1;
    background-color: transparent;

	.underlay-bg
	{
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 0;
		background-color: #232a2a;
		opacity: 0;
		transition: opacity 0.25s linear;

		&.shown { opacity: 1; }
		&.hidden { opacity: 0; }
		&.outro { opacity: 0; transition: opacity 0.5s linear; }
	}

     .overlay-shell
     {
         position: absolute;
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
  		opacity: 1;
        animation: content_intro 1.2s ease-in-out forwards;

		z-index: 1;

  		&.outro
  		{
  			animation: overlay_outro 0.5s linear forwards;
  		}
    }

    .Content, .footer, .bg.line
    {
        opacity: 1;
    }

    .background
 	{
 		animation: bg_intro 30s linear both;
 	}

 	.overlay-shell.outro .Content,
 	.overlay-shell.outro .footer,
 	.overlay-shell.outro .bg.line
 	{
 		animation: content_outro 0.45s ease-in-out forwards;
 	}
  
 	.overlay-shell.outro .background
 	{
 		animation: bg_outro 0.75s linear 0.5s forwards;
 	}

    .Content
    {
        position: absolute;
        z-index: 1000;
        height: 100%;
        width: 100%;
        padding: 8vh 10vh;
        display: flex;

    }

    .LeftColumn
    {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        width: 50%;
        height: 100%;
    }

    .RightColumn
    {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        width: 50%;
        height: 100%;
    }

    .status-area
    {
        position: relative;
        width: auto;
        height: 8vh;
        align-self: flex-end;
    }

    .state-panel
    {
        position: absolute;
        right: 0;
        bottom: 0;
        transition: opacity 0.5s ease-in-out;

        &.shown { opacity: 1; }
        &.hidden { opacity: 0; }
    }

    .continue-panel
    {
        .loading-anim { opacity: 0; }
    }

    .PresentChapter
    {
        position: absolute;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        font-family: Roboto Mono;
        max-width: 48vh;
        padding-bottom: 14vh;

        .Chapter-panel
        {
            flex-direction: column;

            .ChapterNum { line-height: 20px; }
        }

        .ChapterDesc
        {
            height: 15vh;
            line-height: 38;
            font-size: 3.5vh;
            letter-spacing: -5px;
        }

    }

    .loading-panel
    {
        align-items: flex-end;
        flex-direction: row;
        width: auto;
        height: 7.5vh;

        .loading-anim
        {
            margin-right: 0.5vh;

            filter: tint(#d01a1a) drop-shadow(5 2 5rem #242f2f);
        }

        .loading-info
        {
            flex-direction: column;

            .h1 { font-weight: 500; text-transform: uppercase; line-height: 30px; }
            .h2 { letter-spacing: -2px; }
        }
    }

    .loading-line
    {
        flex-direction: row;
        align-items: center;

        .dots
        {
            position: relative;
            margin-left: 0.5vh;
            width: 6vh;
            white-space: pre;
            text-align: left;
        }
    }

    .Russell-tip .title.row, .Russell-tip .text.row
    {
        width: 100%; justify-content: flex-end;
        min-width: 35vh;
        max-width: 35vh;
    }

    .Russell-tip
    {
        margin-bottom: 10vh;

        .title
        {
            padding-right: 1vh;
            font-family: Myriad Pro;
            letter-spacing: -1px;
            font-weight: 700;
            align-self: flex-end;
            max-width: 35vh;
        }

        .tip-viewport
        {
            overflow: hidden;
            width: auto;
            min-height: 8vh;
            max-height: 15vh;
            align-items: center;
        }

        .tip
        {
            color: #a9bdbd;
            font-family: Myriad Pro;
            opacity: 1;
            transition: transform 1s ease-in-out, opacity 0.7s ease-in-out;
            font-size: 18;
            font-weight: 400;
            text-align: right;
    	    text-shadow: 2px 2px 1.2rem #242f2f;
            line-height: 15;
            max-width: 25.5vh;
            right: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;
            align-content: center;

            &.exiting { transform: translateX( 30vh ); opacity: 0; }
        }

        .breaker
        {
            transition: height 1s ease-in-out;
            margin-left: 1.5vh;
            background-color: #d35353;
            width: 2px;
            filter: drop-shadow(5 2 5rem #242f2f);
        }

        .russell
        {
            filter: drop-shadow(5 2 5rem #242f2f);
            margin-right: 1.5vh;
            height: 65px;
            width: 75px;
        }

    }
}

@keyframes overlay_outro
{
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes bg_intro {
  0%   { transform: scale(1.3);  opacity: 0; }
  10%  { transform: scale(1.25); opacity: 1; }
  100% { transform: scale(1.00); opacity: 1; }
}

@keyframes bg_outro
{
	from { opacity: 1; filter: blur( 0px ); transform: scale( 1 ); }
	to { opacity: 0; filter: blur( 3px ); transform: scale( 1.15 ); }
}

@keyframes content_intro
{
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes content_outro
{
	from { opacity: 1; }
	to { opacity: 0; }
}
